port: 9090
logger-output-path: "output/log.json"
token-output-path: "output/token.json"

oauthStateString: "thisshouldberandom"
google:
  clientID: "google client id"
  clientSecret: "google client secret"
facebook:
  clientID: "facebook client id"
  clientSecret: "facebook client secret"
